<div>
    <mat-toolbar color="primary" style="padding:10px 10px;">
        <button *ngIf="isLoggedIn()" mat-icon-button (click)="toggleDrawer()">
            <mat-icon>menu</mat-icon>
          </button>
        <a routerLink="/">Access Management System</a>
        <!--
          <div *ngIf="authService.getUserDetail() as userDetail">
            <a *ngIf="userDetail?.roles.includes('Admin')" mat-button routerLink="/users">
                <mat-icon class="mt-4" style="width: 40px; height: 40px;">groups</mat-icon> Users
            </a>

            <a *ngIf="userDetail?.roles.includes('Admin')" mat-button routerLink="/roles">
                <mat-icon class="mt-3" style="width: 40px; height: 40px;">settings</mat-icon> Roles
            </a>
        </div>
        -->

        <div class="w-full"></div>
        @if(isLoggedIn()){
            <div *ngIf="authService.getUserDetail() as userDetail">
                <div class="flex gap-5 items-center">
                    <a [matMenuTriggerFor]="menu" class="flex gap2 cursor-pointer items-center">
                        <div class="bg-red-400 text-white font-bold shadow-md rounded-full w-5 h-5 p-5 flex justify-center items-center">
                            {{userDetail!.fullName[0].toUpperCase()}}
                        </div>
                        <div class="text-white flex flex-col">
                            <h1 class="p-0 m-0 font-medium">
                                {{userDetail?.fullName}}
                            </h1>
                            <p class="p-0 m-0 font-medium text-xs">
                                {{userDetail?.roles}}
                            </p>
                        </div>
                    </a>
                    <button mat-button [matMenuTriggerFor]="profile"><mat-icon>arrow_drop_down</mat-icon></button>
                    <mat-menu #menu="matMenu" #profile>
                        <button [routerLink]="['profile',userDetail.id]" mat-menu-item>
                            <mat-icon>account_circle</mat-icon>
                            <span>View Profile</span>
                        </button>
                        <button [routerLink]="['change-password']" mat-menu-item>
                            <mat-icon>password</mat-icon>
                            <span>Change Password</span>
                        </button>
                        <button (click)="logoutFn()" mat-menu-item>
                            <mat-icon>logout</mat-icon>
                            <span>Logout</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        } 
        @else {
            <div>
                <div class="flex gap5 items-center">
                    <a mat-button routerLink="/login">Login</a>
                    <a mat-button routerLink="/register">Register</a>
                </div>
            </div>
        }
        
    </mat-toolbar>

    <mat-drawer-container autosize>
        <mat-drawer #drawer mode="side" position="start">
          <mat-nav-list style="margin: 20px;">
            <mat-list-item>
              <button mat-button routerLink="/"><mat-icon>home</mat-icon>Home</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/customer"><mat-icon>person</mat-icon>Customer</button>
              </mat-list-item>
            <div *ngIf="authService.getUserDetail()?.roles.includes('Admin')">
              <mat-list-item>
                <button mat-button routerLink="/user"><mat-icon>groups</mat-icon>Users</button>
              </mat-list-item>
              <mat-list-item>
                <button mat-button routerLink="/role"><mat-icon>settings</mat-icon>Roles</button>
              </mat-list-item>
            </div>
          </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
          <router-outlet></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container>
    
</div>
